@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html, body{
    height: 100%;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
::selection {
    background-color: #00e59b;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #308f71;
}

::-webkit-scrollbar-thumb:hover {
    background: #18e2a2;
}

.content-area {
    margin-left: 20%;
    height: 100%;
    padding: 0;
}
.wrapper {
    width: 100%;
    height: auto; /*100%*/
    margin: 0 auto;
    background: linear-gradient(rgba(139, 120, 199, 0.5), rgba(60,	62,	175, 0.7)), url(../images/bg.jpg) no-repeat center;
    background-size: cover;
    background-position: center;
}
.banner {
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.Image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    transition: 0.5s;
}
.Image-content img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.side-navbar {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    text-align: left;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}
.container {
    display: flex;
    height: 90%;
    word-wrap: break-word;
    width: 100%;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    transition: 0.5s;
}
.container .title{
    font-size: 25px;
    border-bottom: 2px solid #00e59b;
    text-transform: uppercase;
    color: #fff;
}
.container p {
    text-align: left;
    width: 90%;
    font-size: 18px;
    margin-top: 10px;
    line-height: 2;
    color: #fff;
}
.goback {
    position: absolute;
    padding: 30px;
}
.side-navbar .back{
    padding: 10px;
    border-radius: 6px;
    font-size: 30px;
    display: block;
    text-transform: uppercase;
    color: #fff;
    transition: 0.5s;
}
.side-navbar .back:hover{
    cursor: pointer;
    background-color: #308f71;
    color: #fff;
}


.side-navbar a:hover {
    color: deeppink;
}

.video-container {
    text-align: center;
    padding: 20px;
}
.video-container h2 {
    margin-bottom: 20px;
}
.video-container iframe {
    width: 45%;
    height: 350px;
    width: 500px;
    margin: 10px;
}
@media (max-width: 768px) {
    .video-container iframe {
        width: 100%;
        height: 200px;
    }
}

@media (max-width: 1300px) {
    .container .title{
        font-size: 22px;
    }
    .container p {
        font-size: 16px;
    }
    .goback {
        padding: 25px;
    }
    .side-navbar .back{
        font-size: 25px;
    }
}

@media (max-width: 1104px) {
    .container .title{
        font-size: 20px;
    }
    .container p {
        font-size: 14px;
    }
    .goback {
        padding: 23px;
    }
    .side-navbar .back{
        font-size: 23px;
    }
}

@media (max-width: 991px) {
    .container .title{
        font-size: 18px;
    }
    .container p {
        font-size: 12px;
    }
    .goback {
        padding: 20px;
    }
    .side-navbar .back{
        font-size: 20px;
    }
}
@media (max-width: 947px){
    .container .title{
        font-size: 16px;
    }
    .container p {
        font-size: 11px;
    }
    .goback {
        padding: 17px;
    }
    .side-navbar .back{
        font-size: 17px;
    }
}

@media (max-width: 690px) {
    .container .title{
        font-size: 15px;
    }
    .container p {
        font-size: 9px;
    }
    .goback {
        padding: 14px;
    }
    .side-navbar .back{
        font-size:14px;
    }
}

@media (max-width: 500px) {
    .container .title{
        font-size: 13px;
    }
    .container p {
        font-size: 7px;
    }
    .goback {
        padding: 11px;
    }
    .side-navbar .back{
        font-size: 11px;
    }
}